<div class="chat-content-header__container">
  {{{ChatContentAvatarComponent}}}
  <div class="chat-content-header__actions"><img
      src="/svg/hamburger.svg"
    /></div>
</div>
{{{SeparatorComponent}}}