.chat-content-header {
  position: relative;
  flex-direction: column;
  row-gap: 25px;
  padding: 0 25px;
  height: 140px;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    cursor: pointer;
    transform: rotate(90deg);
  }
}

.dropdown-shown {
  display: flex !important;
}

.modal-shown {
  display: flex !important;
}
