<div class="chat-content-header">
   <div class="chat-content-header__container">
        {{> chat-content-header-avatar name=name}}
        <div class="chat-content-header__actions"><img src="/svg/hamburger.svg" /></div>
    </div>
    {{> separator}} 
</div>
