.chats-sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  height: 100%;
  justify-content: space-between;

  &__link {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    padding: 0 15px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    height: 100%;
  }

  &__search {
    padding: 0 15px;
  }

  &__logout {
    position: relative;
    bottom: 20px;
    margin: 0 auto;
  }
}
