<div class="chats-sidebar">
    <div class="chats-sidebar__link">{{> link text="Профиль пользователя" url="/profile"}}</div>
    <div class="chats-sidebar__data">
        <div class="chats-sidebar__search">{{> textfield name="search" placeholder="Поиск"}}</div>
        <div class="chats-sidebar__list">{{> chats-list }}</div>
    </div>
</div>