<div class="registration-form">
    <div class="registration-form__header">
        <a href="/auth" class="registration-form-link" id="signin">Вход</a>
        <img src="svg/separator.svg" />
        <a href="/registration" class="registration-form-link" id="registration">Регистрация</a>
    </div>
    <div class="registration-form__inputs">
        <div class="registration-form__inputs-column">
            {{> textfield name="first_name" placeholder="Ваше имя" label="Имя"}}
            {{> textfield name="phone" placeholder="Ваш телефон" label="Телефон"}}
            {{> textfield name="login" placeholder="Ваш логин" label="Логин"}}
        </div>
        <div class="registration-form__inputs-column">
            {{> textfield name="second_name" placeholder="Ваша фамилия" label="Фамилия"}}
            {{> textfield name="email" placeholder="Ваш email" label="Email"}}
            {{> textfield name="password" placeholder="Ваш пароль" label="Пароль"}}
        </div>    
    </div>
    {{> button text="Создать аккаунт" onClick="handleButtonClick"}}
</div>