{{#if currentChat}}
  {{{ChatContentHeaderComponent}}}
  {{{ChatBodyComponent}}}
  {{{ChatFormComponent}}}
  {{{AddUsersToChatModal}}}
{{/if}}

{{#unless currentChat}}
  <div class="chat-content__empty">
    Выберите чат!
  </div>
{{/unless}}