<input
  type="file"
  name="chat-content-header-avatar"
  class="chat-content-header-avatar__input"
/>

{{#if avatar}}
  <img src="{{avatar}}" alt="avatar" />
{{/if}}
{{#unless avatar}}
  <div class="chat-content-header-avatar__pic">
    <img src="../../../../../../assets/svg/default-avatar.svg" />
  </div>
{{/unless}}
<div class="chat-content-header-avatar__label">{{title}}</div>