<a href="/profile">
  {{#if avatar}}
    <img src="{{avatar}}" alt="avatar" />
  {{/if}}
  {{#unless avatar}}
    <div class="chat-content-header-avatar__pic"></div>
  {{/unless}}
</a>
<a href="/profile" class="chat-content-header-avatar__label">{{name}}</a>