<div class="chat-content-header-avatar">
  <a href="/profile"><div class="chat-content-header-avatar__pic"></div></a>
  <a href="/profile" class="chat-content-header-avatar__label">{{name}}</a>
</div>