<div class="chat-send-form">
  <div class="chat-send-form__attachment"><img src="/svg/attachment.svg" /></div>
  <div class="chat-send-form__field">{{> textfield placeholder="Ваше сообщение" name="message" }}</div>
  <div class="chat-send-form__send"><img src="/svg/send.svg" /></div>
</div>