<div class="chat-send-form__attachment">{{{AddAttachmentButton}}}</div>
{{{ChatTextField}}}
<div class="chat-send-form__send">{{{ButtonSend}}}</div>
<input type="file" style="display: none" id="fileInput" />