<div class="chat-send-form__attachment">{{{AddAttachmentButton}}}</div>
<div class="chat-send-form__field">{{{ChatTextField}}}</div>
<div class="chat-send-form__send">{{{ButtonSend}}}</div>
<input type="file" style="display: none" id="fileInput" />