<div class="chats__list">
  {{{ChatsSidebarComponent}}}
</div>
{{#if isChat}}
  <div class="chats__content">
    {{{ChatContentComponent}}}
  </div>
{{/if}}
{{#unless isChat}}
  {{{ProfileComponent}}}
{{/unless}}