<div class="chat-messages__container">
  {{#each messages}}
    <div class="message">
      {{#when ../myId 'eq' user_id}}
        <div class="message__my">
          <div class="message__text">{{content}}</div>
          <div class="message__right-side">
            <div class="message__read">
              {{#if is_read}}
                <img src="/svg/check-yes.svg" />
              {{/if}}
              {{#unless is_read}}
                <img src="/svg/check-no.svg" />
              {{/unless}}
            </div>
            <div class="message__time">
              {{date time}}
            </div>
          </div>
        </div>
      {{/when}}
      {{#when ../myId 'noteq' user_id}}
        <div class="message__not-my">
          <div class="message__text">{{content}}</div>
          <div class="message__right-side">
            <div class="message__time">
              {{date time}}
            </div>
          </div>
        </div>
      {{/when}}
    </div>
  {{/each}}
</div>