.link {
  display: flex;
  align-items: center;
  column-gap: 15px;

  &__text {
    color: rgba(92, 171, 229, 1) !important;
  }

  &__img {
    &_back {
      transform: rotate(180deg);
    }
  }
}
