<div class="message">
  {{#if isMy}}
    <div class="message__my">
      <div class="message__text">{{message}}</div>
      <div class="message__right-side">
        <div class="message__read">
          {{#if isRead}}
            <img src="/svg/check-yes.svg" />
          {{/if}}
          {{#unless isRead}}
            <img src="/svg/check-no.svg" />
          {{/unless}}
        </div>
        <div class="message__time">
          {{time}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#unless isMy}}
    <div class="message__not-my">
      <div class="message__text">{{message}}</div>
      <div class="message__right-side">
        <div class="message__time">
          {{time}}
        </div>
      </div>
    </div>
  {{/unless}}
</div>